@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #12161D;
  --card: #ffffff;
  --card-foreground: #12161D;
  --popover: #ffffff;
  --popover-foreground: #12161D;
  --primary: #E21B3C;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #12161D;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #12161D;
  --destructive: #ef4444;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #E21B3C;
  --chart-1: #E21B3C;
  --chart-2: #12161D;
  --chart-3: #334155;
  --chart-4: #94a3b8;
  --chart-5: #cbd5e1;
  --sidebar: #f4f4f5;
  --sidebar-foreground: #12161D;
  --sidebar-primary: #E21B3C;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e4e4e7;
  --sidebar-accent-foreground: #12161D;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #E21B3C;
}

.dark {
  --background: #12161D;
  --foreground: #ffffff;
  --card: #12161D;
  --card-foreground: #ffffff;
  --popover: #12161D;
  --popover-foreground: #ffffff;
  --primary: #E21B3C;
  --primary-foreground: #ffffff;
  --secondary: #27272a;
  --secondary-foreground: #ffffff;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #ffffff;
  --destructive: #7f1d1d;
  --border: #27272a;
  --input: #27272a;
  --ring: #E21B3C;
  --chart-1: #E21B3C;
  --chart-2: #ffffff;
  --chart-3: #cbd5e1;
  --chart-4: #94a3b8;
  --chart-5: #334155;
  --sidebar: #12161D;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #E21B3C;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #27272a;
  --sidebar-ring: #E21B3C;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}